<section id="sect3" class="sect_name section">
    <div class="default-block">
        <div id="wrapper" class="default-content">
            <div class="main__title">
                <h1 class="title_name">
                    Про нас
                </h1>
            </div>
            <div class="history_text">
                {{ test }}
                <p> Центр візової підтримки «Віза ТУТ» працює з 2012 року. За цей час, ми зарекомендували себе,
                    як успішний та надійний рекрутинговий партнер для іноземних компаній та для людей, котрі
                    шукають роботу за кордоном (ліцензія від 08.05.2018 року № 672). </p>
                <p> Ми надаємо візову підтримку та візові послуги в більшість країн світу: оформлення бізнес,
                    туристичних, робочих (національних), навчальних, та інших типів віз. Маємо багаторічний
                    успішний досвід у відкритті віз в США, Канаду, Великобританію (Англію). Надаємо консультації
                    з візових питань в залежності від потреб клієнта, працюємо з відмовами і чистими паспортами.
                    За роки роботи ми стикались з багатьма проблемами клієнтів при отриманні віз, однак
                    абсолютно в кожній ситуації знаходили правильне рішення та всі залишалися задоволені
                    позитивним результатом, чим ми дуже пишаємося! </p>
                <p> Центр візової підтримки «Віза ТУТ» — це індивідуальний підхід до кожного клієнта. Яким би
                    складним не був Ваш запит, ми завжди допоможемо та надамо висококваліфіковану консультацію
                    та підтримку. Ретельний підхід до завдань, які ми отримуємо від клієнтів та партнерів робить
                    нас лідерами на ринку. Наша компанія працює з клієнтами з усіх регіонів України! Ми
                    сподіваємося на співпрацю та добрі взаємини і з Вами! </p>

            </div>

        </div>
        <div class="default-image default-image-2">
            <img data-src="/static/img/bg-3.jpg" alt="">
            
        </div>
    </div>
</section>