<section id="sect6" class="sect_name section">
	<div class="default-block">
		<div class="default-content">
			<div class="main__title">
				<h1 class="title_name">
					Блог
				</h1>
			</div>
			<div class="blog-block normalScroll">
				
				{% for post_category in post_categories %}
				<div class="blog-prof">
					<a href="{% url 'blog' slug=post_category.slug %}" class="blog-text">
						<div class="blog__title">
							{{ post_category.title }}
						</div>
					</a>
				</div>
				{% endfor %}
				
				{% if post_categories %}
				<a href=" {% url 'blog_all' %} " class="blog_btn">
					Більше
				</a>
				{% endif %}
			</div>

		</div>
		<div class="default-image default-image-5">
		</div>
	</div>
</section>