<form method="POST" action="" class="post_forms" id="form_cons" style="display:none;">
   <div class="cons_text">
      Для безкоштовної консультації заповніть форму і ми зв'яжемося з Вами протягом 10хв
   </div>
   <div class="inp-vak-wrap">
      <label class="label__style" for="name">Ваше ім'я</label>
      <input class="input_focus" name="name" type="text" required="">
   </div>
   <div class="inp-vak-wrap">
      <label class="label__style" for="phone">Ваш телефон</label>
      <input name="phone" class="num_input input_focus mobile" type="text" required="">
   </div>
   <div class="inp-vak-wrap">
      <label class="label__style" for="email">Email</label>
      <input class="input_focus" name="email" type="text" required="">
   </div>
   <div class="error_block_false"></div>
   <input type="submit" value='Відправити' class="submit_cons">
</form>