<section id="sect5" class="sect_name section">
	<div class="default-block">
		<div class="default-content">
			<div class="main__title">
				<h1 class="title_name">
					Партнери
				</h1>
			</div>
			<div class="partners-block">
				<a class="services-prof" href="https://olimptour.in.ua/">
					{% include '_svg_triple.html' %}
					<div class="services-image-wrap">
						<img src="/static/img/part.jpg" alt="">
					</div>
					<div class="services__text">
						Відпочинок з OLIMP-TOUR
					</div>
				</a>
				<a class="services-prof" href="{% url 'partner_europe' %}">
					{% include '_svg_triple.html' %}
					<div class="services-image-wrap">
						<img src="/static/img/part.jpg" alt="">
					</div>
					<div class="services__text">
						partner_europe partner_europe partner_europe
					</div>
				</a>
				<a class="services-prof" href="{% url 'partner_potential' %}">
					{% include '_svg_triple.html' %}
					<div class="services-image-wrap">
						<img src="/static/img/part.jpg" alt="">
					</div>
					<div class="services__text">
						partner_potential
					</div>
				</a>
				<a class="services-prof" href="{% url 'partner_usa' %}">
					{% include '_svg_triple.html' %}
					<div class="services-image-wrap">
						<img src="/static/img/part.jpg" alt="">
					</div>
					<div class="services__text">
						partner_usa partner_usa partner_usa
					</div>
				</a>

			</div>
		</div>
		<div class="default-image default-image-4">
		</div>
	</div>
</section>