<script type="text/javascript" src="/static/js/jQuery.js"></script>
<script type="text/javascript" src="/static/js/slick.min.js"></script>
<script type="text/javascript" src="/static/js/scrolloverflow.min.js"></script>
<script type="text/javascript" src="/static/js/fullpage.min.js"></script>
<script type="text/javascript" src="/static/js/lazyloadxt.extra.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/js/ajax_form.js"></script>
<script type="text/javascript" src="/static/js/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>