{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="{{ page.meta_key }}">
	<meta name="description" content="{{ page.meta_descr }}">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width initial-scale=1">
	<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="/static/css/style.css?v=2?v=2">
	<link rel="icon" type="image/x-icon" href="/static/img/visatut-logo.png">
	{% include 'includes/meta_og.html' %}
</head>
<body>

	{% include '_navbar.html' %}
	<div id="fullpage" class="main fullpage">
		{% include '_header.html' %}
		{% include 'includes/services.html' %}
		{% include 'includes/form.html' %}
		{% include 'includes/about_us.html' %}
		{% include 'includes/franchise.html' %}
		{% include 'includes/partners.html' %}
		{% include 'includes/blog.html' %}
		{% include 'includes/contacts.html' %}
		{% include 'includes/form.html' %}
		{% include '_scripts.html' %}
	</div>
</body>
</html>


