{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width initial-scale=1">
	<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="icon" type="image/x-icon" href="/static/img/visatut-logo.png">
</head>
<body>
	<div class="load_spin">
		<img src="/static/img/712.svg" alt="">
	</div>
	
	<form method="POST" action="" class="true_form" id="modal-form_true" style="display:none;">
		<img class="form_true_img" src="/static/img/png-123.png" alt="">
		<div class="usually_modal_text">
			Дякуємо, заявка опрацьована <br>
			Наші менеджери звяжуться з Вами
		</div>
		</form>
	{% include '_navbar.html' %}
	<div id="fullpage" class="main fullpage">
		{% include '_header.html' %}
		{% include 'includes/services.html' %}
		{% include 'includes/form.html' %}
		{% include 'includes/about_us.html' %}
		{% include 'includes/franchise.html' %}
		{% include 'includes/partners.html' %}
		{% include 'includes/blog.html' %}
		{% include 'includes/contacts.html' %}
		{% include '_scripts.html' %}
	</div>
</body>
</html>


