.header {

}
.default-image {
    height: 100vh;
   
}
.info_top-prof {
    svg {
        transition: all .2s;
    }
    &:hover {
        .svg_for_top {
            color: #de4166;
            fill: #de4166;
            stroke: #de4166;
        }
    }
}
.default-image-1 {
    background: url('../img/bg-2.jpg') no-repeat center top / cover;
}
.default-image-2 {
    background: url('../img/bg-3.jpg') no-repeat center top / cover;
}
.default-image-3 {
    background: url('../img/bg-4.jpg') no-repeat center top / cover;
}
.default-image-4 {
    background: url('../img/bg-5.jpg') no-repeat center top / cover;
}
.default-image-5 {
    background: url('../img/bg-6.jpg') no-repeat center top / cover;
}
.default-image-6 {
    background: black;
    iframe {
        opacity: 0.7;
    }

}

.hidden_nav-bar {
    position: fixed;
    align-items: center;
  
    right: 40px;
    top: 300px;
    z-index: 9999;
}
.hidden_name {
    flex: 1;
    color: #fff;
    font-size: 26px;
    flex: 1;
    text-align: right;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 19px;

    a {
        text-decoration: none;
    color: #fff;
    }
}
.super_hidden_name {
    opacity: 0;
    margin-right: 15px;
    margin-top: -108px;

    a {
        display: none;
    }
}
body {
    position: relative;
}
.nav-bar {
    top: 20px;
    right: 20px;
    position: fixed;
    z-index: 999;

}
.logo-wrap {
    width: 200px;
    img {
        width: 100%;        
    }
}
.svg_soc {
    color: #fff;
    transform: all .2s;
    width: 25px;
    cursor: pointer;
    margin-left: 20px;
}
.sociate-block {
    display: flex;
    align-items: center;
    margin-left: 60px;

}
.sociate-prof {
   
   transition: all .2s;
    &:hover {
            .svg_soc {
                color: #de4166;
            }
    }
}
.main {
    position: relative;
}
.div_slider-prof {
    height: 100%;
    position: relative;
    background: black;
}
.bg_slider {
    opacity: 0.4;
}
.abs_block_header {
    position: absolute;
    top: 150px;
    left: 50%;
    width: 50%;
    margin-left: -25%;
   
}
.main_title-slider {
    text-align: center;
    color: #fff;
    font-size: 45px;
    padding: 0 25px;
    font-weight: 700;
    text-transform: uppercase;
}
.main_bold__title {
    text-align: center;
    color: #fff;
    font-size: 65px;
    padding: 0 25px;
    font-weight: 800;
}
.one-time {
    height: 100vh;
}
.sect_name {
    position: relative;
    height: 100vh !important;
    overflow-x: hidden;
}
.header_border_bottom {
    height: 2px;
    padding: 20px 0px 0px 0px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 220px;
    border-bottom: 2px solid #fff;
}
.header_sub {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    padding: 0px 42px;

}
.header-btn {
    border-radius: 13px;
    display: flex;
    justify-content: center;
    background-color: #de4166;
    padding: 11px 10px;
    font-size: 13px;
    width: 150px;
    align-self: center;
    cursor: pointer;
    margin-top: 15px;
    align-self: center;
    color: #fff;
    line-height: 1;
    margin: 0 auto;
    margin-top: 20px;
}
.info_top-block {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 9999;
    margin: 30px 0 0 30px;
}
.info_top-prof {
    display: flex;
    align-items: center;
    margin-left: 50px;
    a {
        font-size: 20px;
        color: #fff;
        text-decoration: none;
    }
    svg {
        color: #fff;
        width: 35px;
        margin-right: 20px;
    }
}
.info_top-prof_tell {
    svg {
        width: 30px;
    }
}
.info_top-block_desktopNone {
    display: none;
}
.header-btn_mobile {
    display: none;
}
.ham {
    display: none;
}
.sociate-block_mobile {
    display: none;
}
.more-btn {
    cursor: pointer;
    display: block;
    width: 160px;
    margin: 0 auto;
    margin-top: 30px;
}
.fp-right {
    ul {
        * {
            transition: all .2s;
        }
    
        top: 25%;
    
        li:first-child {
            opacity: 0;
        }
        li {
            padding: 28px 0 0 0;
    
            a {
                position: relative;
                width: 30px;
                height: 30px;
                padding: 15px;
      
            }
            a.active {
                width: 10px;
                height: 10px;
                background: #fff;
                border-radius: 50%;
            }
        }
       
    }
}
#fp-nav {
    top: 300px;
}
#fp-nav ul li, .fp-slidesNav ul li {
    height: 40px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: transparent;
    left: 28%;
    top: 31%;
    height: 25px;
    width: 25px;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
    height: 25px;
    width: 25px;
    left: 29%;
    background: #fff;
    top: 29%;

}
#fp-nav ul li a, .fp-slidesNav ul li a {
    border: 2px solid #fff;
    border-radius: 50%;
    background: transparent;
}
.fp-right ul li a:before {
    width: 40px;
    height: 40px;
    background: transparent;
    -moz-border-radius: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    left: -5.2px;
    bottom: -4.9px;
}
.fp-right ul li a.active:before {
    width: 40px;
    height: 40px;
    background: transparent;
    -moz-border-radius: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 0;
    left: -5.2px;
    bottom: -4.9px;
}


.logo_link {
    display: block;
    height: 50px;
}
.main_nav_bar_for_mobile {
    display: none;
}

@media (max-width: 996px) {
    .super_hidden_name {
        a {
            display: inherit;
        }
    }
    html {
        scroll-behavior: smooth;
    }
    .sect_name {
        height: unset !important;
    }
    .main_nav_bar_for_mobile {
        display: block;
        visibility: hidden;
        right: -100%;
        transition: all .4s;
        height: 100%;
        width: 100%;
        position: fixed;
        background: #000000cc;
        z-index: 999;
    }
    .main_nav_bar_for_mobile_active {
        visibility: visible;
         right: 0;
       
    }
    .default-block {
        flex-direction: column-reverse;
    }
    .default-image {
        width: 100%;
        height: 271px;
        transition: all .4s;
    }
    .default-image-1 {
        background: url('../img/bg-2.jpg') no-repeat center top -390px / cover;
    }
    .sociate-block {
        display: none;
    }
    .sociate-block_mobile {
        display: flex;
    }
    
    .ham {
        display: block;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .hamRotate.active {
        transform: rotate(45deg);
      }
      .hamRotate180.active {
        transform: rotate(180deg);
      }
      .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke:#fff;
        stroke-width:5.5;
        stroke-linecap:round;
      }
      .ham1 .top {
        stroke-dasharray: 40 139;
      }
      .ham1 .bottom {
        stroke-dasharray: 40 180;
      }
      .ham1.active .top {
        stroke-dashoffset: -98px;
      }
      .ham1.active .bottom {
        stroke-dashoffset: -138px;
      }
    .logo-wrap {
        margin-top: 10px;
    }
    .header-btn_mobile {
        display: flex;
        margin: 0;
        margin-top: 0px;
    }
    .info_top-block_mobileNone {
        display: none;
    }
    .info_top-block_desktopNone {
        display: flex;
        visibility: hidden;
        position: relative;
        flex-direction: column;
        transition: all .4s;
        position: absolute;
        bottom: 65px;
        right: -100%;
    }
    .nav-bar {
        transition: all .4s;
        justify-content: space-around;
        background: #000000e3;
        top: 0px;
        right: unset;
        position: fixed;
        height: 81px;
        width: 100%;
        left: 0;
        display: flex;
        z-index: 999;
    }
    .nav-bar_active {
    }
    .hidden_nav-bar {
      
        top: -100% !important;
        transition: .4s;
        visibility: hidden;
    }
    .hidden_nav-bar_active {
       visibility: visible;
        top: 185px !important;
        right: 75px;
    }
    .sociate-block {
        visibility: hidden;
        transition: all .2s;
        position: absolute;
        z-index: 99999;
        right: -100%;
    bottom: 10px;
    }
    .sociate-block_active {
        visibility: visible;
        right: 40px;
    bottom: 10px;
        
    }
    .info_top-block_desktopNone_active {
      visibility: visible;
      bottom: 65px;
    right: 40px;
       
    }
    .onepage-pagination {
        right: -100% !important;
        top: 80px !important;
    }
    .onepage-pagination_active {
        display: block;
        top: 80px !important;
        right: 0 !important;
        background: #000000e3;
        width: 100%;
        height: 100%;
        transition: .4s;

        li {
            display: flex;
            justify-content: flex-end;
            padding: 28px 30px 0 0 !important;
        }
    }
}
@media (max-width: 948px) {
    .abs_block_header {
        width: 80%;
        margin-left: -40%;
    }
}
@media (max-width: 731px) {
    .main_title-slider {
        font-size: 30px;
    }
    .main_bold__title {
        font-size: 50px;
    }
    .abs_block_header {
        width: 90%;
        margin-left: -45%;
        top: 170px;
    }
}
@media (max-width: 485px) {
    .main_title-slider {
        font-size: 25px;
    }
    .main_bold__title {
        font-size: 40px;
    }
    .abs_block_header {
        width: 100%;
        margin-left: -50%;
        top: 120px;
    }
    .header_sub {
        font-size: 15px;
        padding: 0px 0px;
    }
}
@media (max-width: 463px) {
   
    .ham {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-bar {
    }
   
    .header-btn_mobile {
       display: none;
    }
    .logo_link {
        display: block;
        height: 50px;
        position: absolute;
        left: 15px;
    }
}
