<div id="foreign_work" class="info-content contentforeign_work">
    <div class="main__title">
        <h1 class="title_name">
            Послуги
        </h1>
    </div>
    <div class="close-btn">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times"
            class="svg-inline--fa fa-times fa-w-11" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
            <path fill="currentColor"
                d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
            </path>
        </svg>
    </div>
    <div class="mini-navigation-block">
        <div data-nav="nav1" class="nav_name">
            Послуги
        </div>
        <img src="/static/img/nav.svg" alt="">
        <div class="nav_name nav_name_active">
            Робота за кордоном
        </div>
    </div>
    <form method="post" class="services_form" action="{% url 'search_service' %}">
        <div class="select usd-select calk-blocks">
            <div class="select__input select__input1 usd">
                <div class="visual_label">
                    Країна
                </div>
                <div class="label_block">
                </div>
                <div class="field_text field_text1" data-countries="none"></div>
                <div class="field__icon">
                    <img src="/static/img/ptichka.svg" alt="">
                </div>
                <input type="hidden" name="vant1" class="form_select" value="0">
            </div>
            <div class="select__wrap sel_fix_wrap" id="style-1">
                {% for country in countries %}
                <div class="select__wrap_item" data-id="{{ country.title }}">{{ country.title }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="select calk-blocks">
            <div class="select__input select__input2">
                <div class="visual_label">
                    Робота для
                </div>
                <div class="label_block">
                </div>
                <div class="field_text field_text2" data-countries="none"></div>
                <div class="field__icon">
                    <img src="/static/img/ptichka.svg" alt="">
                </div>
                <input type="hidden" name="vant2" class="form_select" value="0">
            </div>
            <div class="select__wrap sel_fix_wrap" id="style-1">
                {% for gender in genders %}
                <div class="select__wrap_item" data-id="{{ gender.human_type }}">{{ gender.human_type }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="select calk-blocks">
            <div class="select__input select__input3">
                <div class="visual_label">
                    Тип роботи
                </div>
                <div class="label_block">
                </div>
                <div class="field_text field_text3" data-countries="none"></div>
                <div class="field__icon">
                    <img src="/static/img/ptichka.svg" alt="">
                </div>
                <input type="hidden" name="vant3" class="form_select" value="0">
            </div>
            <div class="select__wrap sel_fix_wrap" id="style-1">
                {% for work_type in work_types %}
                <div class="select__wrap_item" data-id="{{ work_type.work_type }}">{{ work_type.work_type }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="select calk-blocks">
            <div class="select__input select__input4">
                <div class="visual_label">
                    Тип документів
                </div>
                <div class="label_block">
                </div>
                <div class="field_text field_text4" data-countries="none"></div>
                <div class="field__icon">
                    <img src="/static/img/ptichka.svg" alt="">
                </div>
                <input type="hidden" name="vant4" class="form_select" value="0">
            </div>
            <div class="select__wrap sel_fix_wrap" id="style-1">
                {% for doc_type in document_types %}
                <div class="select__wrap_item" data-id="{{ doc_type.doc_type }}">{{ doc_type.doc_type }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="radio-block">
            <input value="True" type="radio" id="rd1" name="actual" checked> <label
                for="rd1">Актуальна</label>
            <input value="False" type="radio" id="rd2" name="actual"> <label for="rd2">Не актуальна</label>
        </div>
        <input type="submit" value="Пошук" id="srch_service">
    </form>
</div>

